@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Raleway-Bold.ttf') format('truetype');
}
